@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'fonts';

*{
    font-style: normal;
    line-height: normal;
}

@layer components {
    .container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }

    @media (max-width: 800px) {
        .container{
            max-width: 393px;
        }
    }
}

@layer base {
    .inter400{
        font-family: 'Inter';
        font-weight: 400;
    }

    .inter600{
        font-family: 'Inter';
        font-weight: 600;
    }

    .inter700{
        font-family: 'Inter';
        font-weight: 700;
    }
}


.swiper-button-prev, .swiper-button-next{
    color: white !important;
}

.title{
    border-right: 7px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(22),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color: transparent;}
}

@keyframes typing {
    from { width: 0}
}