@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'fonts';

*{
    font-style: normal;
    line-height: normal;
}

@layer components {
    .container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }

    @media (max-width: 800px) {
        .container{
            max-width: 393px;
        }
    }
}

@layer base {
    .inter400{
        font-family: 'Inter';
        font-weight: 400;
    }

    .inter600{
        font-family: 'Inter';
        font-weight: 600;
    }

    .inter700{
        font-family: 'Inter';
        font-weight: 700;
    }
}


.swiper-button-prev, .swiper-button-next{
    color: white !important;
}


